services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      - PORT=3000
      - DB_CONNECTION_STRING=mongodb://dadjokes-mongo:27017/dadjokes
      - NODE_ENV=production
    depends_on:
      - dadjokes-mongo

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      # Set build-time arguments for the frontend.
      # These can be accessed in the Dockerfile using ARG instruction,
      # and can be used as build-time environment variables.
      args:
        VITE_API_BASE_URL: http://localhost
    depends_on:
      - backend

  dadjokes-mongo:
    image: mongo:latest
    # ports:
    #   - "27017:27017"
    volumes:
      - dadjokes-mongo-data:/data/db
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

volumes:
  dadjokes-mongo-data:
