.navBar {
    display: flex;
    flex-direction: column;
}

.navBar a {
    display: block;
    background-color: lightgray;
    box-shadow: 3px 3px 2px darkgray;
    margin-bottom: 10px;
    padding: 15px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
}

.navBar .active {
    background-color:deepskyblue;
    border: 1px solid blue;
}