/* Global CSS styles go here. */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: lightgray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.articleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  flex-basis: 40%;
  flex-grow: 1;
  text-align: justify;
  background-color: white;
  padding: 1px 30px;
  margin: 5px;
  box-shadow: 3px 3px 3px darkgray;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.article:hover {
  border: 1px solid blue;
}